<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ethan.crmsystem.mapper.AfterSalesMapper">
    
    <sql id="AFTERSALES-CONDITION">
        <where>
            rp.role_id = #{roleId}
            <if test="afterSalesForm.customerCode != '' and afterSalesForm.customerCode != null">
                and asi.customer_code like concat('%',#{afterSalesForm.customerCode},'%')
            </if>
            <if test="afterSalesForm.equipmentId != '' and afterSalesForm.equipmentId != null">
                and asi.equipment_id like concat('%',#{afterSalesForm.equipmentId},'%')
            </if>
            <if test="afterSalesForm.dealStaff != '' and afterSalesForm.dealStaff != null">
                and asi.deal_staff like concat('%',#{afterSalesForm.dealStaff},'%')
            </if>
            <if test="afterSalesForm.startTime != null and afterSalesForm.endTime != null">
                and asi.deal_time between #{afterSalesForm.startTime} and #{afterSalesForm.endTime}
            </if>
        </where>
    </sql>

    <select id="findAfterSalesLogByCondition" resultType="com.ethan.crmsystem.mapper.bean.AfterSalesBean">
        select asi.* from
        after_sales_info asi left join role_priviledge rp on asi.region_id = rp.meta_region_id
        <include refid="AFTERSALES-CONDITION"/>
        limit #{afterSalesForm.offset},#{afterSalesForm.pageSize}
    </select>

    <select id="findCountByCondition" resultType="string">
        select count(1) from
        after_sales_info asi left join role_priviledge rp on asi.region_id = rp.meta_region_id
        <include refid="AFTERSALES-CONDITION"/>
    </select>

</mapper>