<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ethan.crmsystem.infra.mapper.CustomerMapper">

    <resultMap id="RM_CUSTOMER" type="com.ethan.crmsystem.infra.domain.Customer">
        <result column="id" jdbcType="INTEGER" property="id"></result>
        <result column="code" jdbcType="VARCHAR" property="code"></result>
        <result column="name" jdbcType="VARCHAR" property="name"></result>
        <result column="phonenum" jdbcType="VARCHAR" property="phonenum"></result>
        <result column="address" jdbcType="VARCHAR" property="address"></result>
        <result column="region_id" jdbcType="CHAR" property="regionId"></result>
        <result column="update_time" jdbcType="DATE" property="updateTime"></result>
        <result column="user_id" jdbcType="CHAR" property="userId"></result>
        <result column="creat_time" jdbcType="DATE" property="creatTime"></result>
    </resultMap>
    
    <sql id="CUSTOMER-CONDITION">
        <where>
            rp.role_id = #{roleId}
            <if test="customerForm.code != '' and customerForm.code != null">
                and c.code like concat('%',#{customerForm.code},'%')
            </if>
            <if test="customerForm.name != '' and customerForm.name != null">
                and c.name like concat('%',#{customerForm.name},'%')
            </if>
            <if test="customerForm.phonenum != '' and customerForm.phonenum != null">
                and c.phonenum like concat('%', #{customerForm.phonenum},'%')
            </if>
            <if test="customerForm.address != '' and customerForm.address != null">
                and c.address like concat('%', #{customerForm.address},'%')
            </if>
            <if test="customerForm.level != '' and customerForm.regionIds != null and customerForm.regionIds.size()>0" >
                and c.region_id in
                <foreach collection="customerForm.regionIds" item="item" open="(" close=")" separator="," >
                    #{item}
                </foreach>
            </if>
            <if test="customerForm.startTime != null and customerForm.endTime != null">
                and c.creat_time between #{customerForm.startTime} and #{customerForm.endTime}
            </if>
        </where>
    </sql>

    <select id="findCustomerInfoByCondition" resultMap="RM_CUSTOMER">
        select c.* from
        customer c left join role_priviledge rp on c.region_id = rp.meta_region_id
        <include refid="CUSTOMER-CONDITION"/>
        limit #{customerForm.offset},#{customerForm.pageSize}
    </select>

    <select id="findCountByCondition" resultType="string">
        select count(1) from
        customer c left join role_priviledge rp on c.region_id = rp.meta_region_id
        <include refid="CUSTOMER-CONDITION"/>
    </select>

<!--    <select id="findStatisticsData" resultType="com.ethan.crmsystem.web.model.StatisticsModel">-->
<!--        select count(1) customerCnt,m.id region,m.name name,m.level level from-->
<!--        customer c left join role_priviledge rp on c.region_id = rp.meta_region_id-->
<!--        <if test="statisticsForm.viewLevel == 1">-->
<!--            left join meta_region mr on c.region_id = mr.id-->
<!--            left join meta_region m on mr.parent = m.id-->
<!--            where rp.role_id = #{roleId} and m.parent = #{statisticsForm.region}-->
<!--            group by m.id-->
<!--        </if>-->
<!--        <if test="statisticsForm.viewLevel == 2">-->
<!--            left join meta_region m on c.region_id = m.id-->
<!--            where rp.role_id = #{roleId} and m.parent = #{statisticsForm.region}-->
<!--            group by m.id-->
<!--        </if>-->
<!--    </select>-->

    <select id="findStatisticsData" resultType="string">
        select count(1)  from customer c
        <if test="level == 1">
            left join meta_region m on c.region_id = m.id
            where m.parent = #{value}
        </if>
        <if test="level == 2">
            left join meta_region m on c.region_id = m.id
            where m.id = #{value}
        </if>
    </select>

</mapper>