<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ethan.crmsystem.infra.mapper.EquipmentMapper">

    <resultMap id="RM-EQUIPMENT" type="com.ethan.crmsystem.infra.domain.Equipment">
        <result column="id" jdbcType="INTEGER" property="id"></result>
        <result column="customer_code" jdbcType="VARCHAR" property="customerCode"></result>
        <result column="device_name" jdbcType="VARCHAR" property="deviceName"></result>
        <result column="installation_address" jdbcType="VARCHAR" property="installationAddress"></result>
        <result column="installation_time" jdbcType="DATE" property="installationTime"></result>
        <result column="price" jdbcType="VARCHAR" property="price"></result>
        <result column="sales_staff" jdbcType="VARCHAR" property="salesStaff"></result>
        <result column="installation_staff" jdbcType="VARCHAR" property="installationStaff"></result>
        <result column="region_id" jdbcType="CHAR" property="regionId"></result>
        <result column="update_time" jdbcType="DATE" property="updateTime"></result>
        <result column="user_id" jdbcType="CHAR" property="userId"></result>
        <result column="creat_time" jdbcType="DATE" property="creatTime"></result>
    </resultMap>
    
    <sql id="EUQIPMENT-CONDITION">
        <where>
            rp.role_id = #{roleId}
            <if test="equipmentForm.customerCode != '' and equipmentForm.customerCode != null">
                and e.customer_code like concat('%',#{equipmentForm.customerCode},'%')
            </if>
            <if test="equipmentForm.deviceName != '' and equipmentForm.deviceName != null">
                and e.device_name like concat('%',#{equipmentForm.deviceName},'%')
            </if>
            <if test="equipmentForm.price != '' and equipmentForm.price != null">
                and e.price = #{customerForm.price}
            </if>
            <if test="equipmentForm.saleStaff != '' and equipmentForm.saleStaff != null">
                and e.sales_staff like concat('%',#{equipmentForm.saleStaff},'%')
            </if>
            <if test="equipmentForm.insStaff != '' and equipmentForm.insStaff != null">
                and e.installation_staff like concat('%',#{equipmentForm.insStaff},'%')
            </if>
            <if test="equipmentForm.startTime != null and equipmentForm.endTime != null">
                and e.installation_time between #{equipmentForm.startTime} and #{equipmentForm.endTime}
            </if>
        </where>
    </sql>

    <select id="findEquipmentByCondition" resultMap="RM-EQUIPMENT">
        select e.* from
        equipment e left join role_priviledge rp on e.region_id = rp.meta_region_id
        <include refid="EUQIPMENT-CONDITION"/>
        limit #{equipmentForm.offset},#{equipmentForm.pageSize}
    </select>

    <select id="findCountByCondition" resultType="string">
        select count(1) from
        equipment e left join role_priviledge rp on e.region_id = rp.meta_region_id
        <include refid="EUQIPMENT-CONDITION"/>
    </select>

    <select id="findEquipmentInfoByCode" resultMap="RM-EQUIPMENT">
        select e.* from
        equipment e left join role_priviledge rp on e.region_id = rp.meta_region_id
        where rp.role_id = #{roleId}
        <if test="customerCode != '' and customerCode != null">
            and e.customer_code = #{customerCode}
        </if>
    </select>

    <select id="findEquipmentCountByCode" resultType="string">
        select count(1) from
        equipment e left join role_priviledge rp on e.region_id = rp.meta_region_id
        where rp.role_id = #{roleId}
        <if test="customerCode != '' and customerCode != null">
            and e.customer_code = #{customerCode}
        </if>
    </select>

</mapper>